.Header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    word-break: break-all;
}

header {
    display: block;
}

.HeaderLogo:hover {
    opacity: 0.7;
}


@media screen and (max-width: 1080px) {
.Header--common {
    position: fixed !important;
}
}

@media screen and (max-width: 767px){
    .Header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    z-index: 10;
    }
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
    word-break: break-all;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .HeaderContainer {
        max-width: 100%;
        margin: 0 20px;
    }
}

.HeaderLogo {
    align-self: center;
}

a {
    color: #333;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    .HeaderLogo {
        transition: opacity .2s;
    }
}

.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--pc {
        display: none;
    }
}

img {
    border: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--sp {
        display: block;
    }
}

img {
    border: 0;
    vertical-align: middle;
}

.HeaderContainer > :last-child {
    display: inline-flex;
    box-sizing: border-box;
}

.HeaderNavHamburger {
    display: none;
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
    }
}

@media screen and (max-width: 1080px) {
     .HeaderNavHamburger__line:first-child {
     top: 0;
}
}

.HeaderNavHamburger__line {
    top: 50%;
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333;
        transform: translate(0,-50%);
        border-radius: 10px;
        transition: top .2s,transform .2s,opacity .3s;
        top: 50%;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line:last-child {
        top: 100%;
    }
}

.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
 .HeaderNavList {
    top: 52px;
 }
}
     
@media screen and (max-width: 1080px) {
 .HeaderNavList {
    overflow-y: scroll;
    position: fixed;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform .5s;
    z-index: 99;
    background-color: rgba(0,0,0,.8);
    -webkit-overflow-scrolling: touch;
    height: 100%;
    
    }
}

.HeaderNavListItem {
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-right: 45px;
}
.HeaderListItem {
    margin-right: 45px;
}

@media screen and (min-width: 768px) {
    .HeaderNavListItem {
        transition: opacity .2s;
    }
}

@media screen and (max-width: 1080px) {
    .HeaderNavListItem {
        margin-right: 0;
    }
}

.HeaderListItem:last-of-type {
    margin-top: 20px;
    margin-right: 0;
}
.HeaderNavListItem__link>span:first-child {
    font-family: "Lato",sans-serif;
}

ul {
    list-style: none;
}

.HeaderNavListItem__link>span:last-child {
    font-size: 10px;
}

.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

.HeaderNavListItem__link {
    padding: 20px 0;
    display: block;
}

.HeaderNavList__button:visited {
  color: #fff;  
}
@media screen and (min-width: 768px) {
    .HeaderNavListItem__button {
        transition: opacity .2s;
    }
}

@media screen and (max-width: 1080px) {
.HeaderNavListItem__button {
    font-size: 16px;
    margin: 0 auto;
    height: 60px;
    width: 250px;
}
}

.HeaderNavListItem__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
    color: #fff;
}

.HeaderNavListItem:hover {
    opacity: 0.7;
}


.FirstView {
    background-image: url(//camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .FirstView {
        background-image: none;
        padding-top: 0;
        padding-bottom: 35px;
    }
}

.FirstView__main-image--sp {
    display: none;
}

@media screen and (max-width: 767px) {
.FirstView__main-image--sp {
    display: block;
}
}

.FirstView_main-image {
    width: 100%;
}

img {
    border: 0;
    vertical-align: middle;
    
}

section {
    display: block;
}

.FirstView__container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
}



@media screen and (max-width: 767px) {
    .FirstView__container {
    margin-top: -45vw;
    }
}

            
@media screen and (max-width: 767px) {
    .FirstView__container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    }
}



.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .FirstViewContent {
        margin-bottom: 20px;
        width: 100%;
    }
}

.FirstViewContent__title {
    color: #333;
    font-family: "Lato",sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}

@media screen and (max-with: 767px) {
    .FirstViewContent__title {
    font-size: 25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%)/2)*-1);
    margin-right: calc(((100vw - 100%)/2)*-1);
    }
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.FirstViewContent__images {
    display: flex;
    margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .FirstViewContent__images {
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    }
}

.FirstViewContent__images img {
    margin-right: 8px;
}

@media screen and (max-width: 767px) {
    .FirstViewContent__images img {
        width: 27.5%;
    }
}

.FirstViewContent__images img:nth-of-type(2) {
    width: 40%;
}
.FirstViewContent__images img:last-of-type {
    margin-right: 0;
}

.FirstViewContent__button:visited {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .FirstViewContent__button {
        transition: opacity .2s;
    }
}

@media screen and (max-width: 767px) {
    .FirstViewContent__button {
        width: 100% !important;
    }
}

.FirstViewContent__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.FirstViewContent__button:hover {
    opacity: 0.7;
}

.FirstViewCaption {
    color: #a2a2a4;
    font-size: 12px;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-weight: 500;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.FirstViewCaption {
    color: #a2a2a4;
}

.AboutWrapper {
    padding: 120px 0;
    background-color: #f79214;
    padding: 44px 0;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .AboutWrapper {
    padding: 30px 0;
}
}

div {
    display: block;
}

.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
.About {
    flex-direction: column;
}
}

@media screen and (max-width: 767px) {
.About {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}
.About__video {
    width: 50%;
}

@media screen and (max-width: 767px) {
.About__video {
    width: 100%;
}
}
@media screen and (max-width: 1024px) {
.About__video {
    margin-bottom: 16px;
}
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.About__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 32px;
    color: #333;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.About__title h2 {
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    margin-bottom: 8px;
    width: 100%;
    color: #fff;
    text-align: left;
}

@media screen and (max-width: 400px) {
.About__title h2 {
    font-size: 33px;
    line-height: 1.4;
    white-space: pre;
    word-break: keep-all;
}
}

.About__title h2>span {
    font-family: "Lato",sans-serif;
    font-size: 38px;
}

@media screen and (max-width: 767px) {
.About__title h2 span {
    letter-spacing: 1px;
}
}
.About__title h2 span {
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    color: #fff;
    text-align: left;
}

.About__title br {
    display: none;
}
@media screen and (max-width: 400px) {
.About__title br {
    display: block;
}
}

.About__title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
    isplay: inline-block;
}

@media screen and (max-width: 1024px) {
.About__title p {
    margin-bottom: 32px;
}
}

.About__title h2, .About__title p {
    color: #fff;
    text-align: left;
}

@media screen and (max-width: 1024px) {
.About__reskilling-logo {
    margin: auto;
}
}
.About__reskilling-logo>img {
    width: 158px;
}
